:root {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    --header-bg: #ff6900;
    --footer-bg: #1a1a1a;
}

body {
    color: black;
}

.debug {
    * {
        border: 1px dashed black;
    }
    
}

a {
    text-decoration: none;
    color: #fff;
}

#header {
    background-color: var(--header-bg);
    height: 50px;
    box-shadow: 1px 1px 2px grey;
    color: #fff;
    position: fixed;
    top: 0px;
    z-index: 10;

    #h-cont {
        justify-content: space-between;

        #logo-img {
            height: 25px;
            position: absolute;
            left: 46%;
        }
    }
}

#main {
    margin-top: 50px;
    position: relative;
    height: 100%;

    #main-cont {
        padding: 50px 0 0 0;
        margin: 0 15%;
        flex-wrap: wrap;
        gap: 10px;
        position: relative;
        justify-content: space-between;
    }
}

.card {
    width: 32%;
    display: flex;
    flex-direction: column;
    position: relative;
    margin-bottom: 50px;

    &:hover {
        .img-card {
            display: none;
        }
    }
}

.img-card {
    width: 100%;
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
}

.img-card2 {
    width: 100%;
    position: relative;
}

.like {
    background-color: #fff;
    position: absolute;
    top: 5px;
    right: 0;
    z-index: 5;
    width: 30px;
    aspect-ratio: 1;

    &:hover {
        color: red;
        transform: scale(1.2);
    }
}

.tags {
    position: absolute;
    z-index: 3;
    bottom:90px;
    left: 0;
    font-size: 0.7rem; 
    font-weight: 700;  
}

.save {
    z-index: 3;
    background-color: red;
    color: #fff;
    padding: 5px;
    margin: 0 2px 0 0;
}

.stnty {
    background-color: green;
    color: #fff;
    padding: 5px;
    z-index: 3;
    margin: 0px 2px 0px 0px;
}

.card-brand {
    width: 100%;
}

.card-article {
    font-weight: 700;
    width: 100%;
}

.card-price {
    color: red;
    width: 100%;
    font-weight: 500;
}

.old-price {
    text-decoration: line-through;
    color: var(--footer-bg);
}

#footer {
    color: #fff;
    background-color: var(--footer-bg);
    font-size: 0.6rem;
    min-height: 70px;
    justify-content: space-between;
}

#widgets {
    display: flex;
    justify-content: end;

    img {
        height: 17px;
        margin: 0 2px;
    }
}

/* Utility classes */

.w-100 {
    width: 100%;
}

.min-m {
    margin: 5px;
}

.hor-m-sect {
    padding: 0 15%;
}

.f-row {
    display: flex;
    flex-direction: row;
}

.f-col {
    display: flex;
    flex-direction: column;
}

.f-ja-center {
    justify-content: center;
    align-items: center;
}

.f-sp-bet {
    justify-content: space-between;
    align-items: center;
}

.bold {
    font-weight: 700;
}

.semibold {
    font-weight: 500;
}

.w10pc {
    width: 10%;
}